.ipynb_checkpoints
*/.ipynb_checkpoints/*
.DS_Store
.DS_Store?
Week-10-Streamlit-Web-Apps/env/lib/python3.8/site-packages/__pycache__/plac_core.cpython-38.pyc
Week-10-Streamlit-Web-Apps/env/lib/python3.8/site-packages/__pycache__/plac.cpython-38.pyc
Week-10-Streamlit-Web-Apps/env/lib/python3.8/site-packages/__pycache__/pickleshare.cpython-38.pyc
Week-10-Streamlit-Web-Apps/env/lib/python3.8/site-packages/__pycache__/nest_asyncio.cpython-38.pyc
Week-10-Streamlit-Web-Apps/env/lib/python3.8/site-packages/__pycache__/jupyter.cpython-38.pyc
Week-10-Streamlit-Web-Apps/env/lib/python3.8/site-packages/__pycache__/ipykernel_launcher.cpython-38.pyc
Week-10-Streamlit-Web-Apps/env/lib/python3.8/site-packages/__pycache__/cycler.cpython-38.pyc
Week-10-Streamlit-Web-Apps/env/include/site/python3.8/greenlet/greenlet.h
Week-10-Streamlit-Web-Apps/env/images/imagehash.png
Week-10-Streamlit-Web-Apps/env/etc/jupyter/nbconfig/notebook.d/widgetsnbextension.json
Week-10-Streamlit-Web-Apps/env/CMakeLists.txt
Week-10-Streamlit-Web-Apps/env/bin/wsdump
Week-10-Streamlit-Web-Apps/env/bin/wordcloud_cli
Week-10-Streamlit-Web-Apps/env/bin/wheel
Week-10-Streamlit-Web-Apps/env/bin/ttx
Week-10-Streamlit-Web-Apps/env/bin/tqdm
Week-10-Streamlit-Web-Apps/env/bin/tabulate
Week-10-Streamlit-Web-Apps/env/bin/sqlformat
Week-10-Streamlit-Web-Apps/env/bin/spacy
Week-10-Streamlit-Web-Apps/env/bin/pyftsubset
Week-10-Streamlit-Web-Apps/env/bin/pyftmerge
Week-10-Streamlit-Web-Apps/env/bin/pycc
Week-10-Streamlit-Web-Apps/env/bin/plac_runner.py
Week-10-Streamlit-Web-Apps/env/bin/pip3.8
Week-10-Streamlit-Web-Apps/env/bin/pip3.10
Week-10-Streamlit-Web-Apps/env
Week-10-Streamlit-Web-Apps/env/bin/pip3
Week-10-Streamlit-Web-Apps/env/bin/pip
Week-10-Streamlit-Web-Apps/env/bin/phik_trial
Week-10-Streamlit-Web-Apps/env/bin/pasteurize
Week-10-Streamlit-Web-Apps/env/bin/pandas_profiling
Week-10-Streamlit-Web-Apps/env/bin/numba
Week-10-Streamlit-Web-Apps/env/bin/nltk
Week-10-Streamlit-Web-Apps/env/bin/mlflow
Week-10-Streamlit-Web-Apps/env/bin/markdown_py
Week-10-Streamlit-Web-Apps/env/bin/mako-render
Week-10-Streamlit-Web-Apps/env/bin/jupyter-troubleshoot
Week-10-Streamlit-Web-Apps/env/bin/jupyter-run
Week-10-Streamlit-Web-Apps/env/bin/jupyter-migrate
Week-10-Streamlit-Web-Apps/env/bin/jupyter-kernelspec
Week-10-Streamlit-Web-Apps/env/bin/jupyter-kernel
Week-10-Streamlit-Web-Apps/env/bin/jupyter
Week-10-Streamlit-Web-Apps/env/bin/ipython3
Week-10-Streamlit-Web-Apps/env/bin/ipython
Week-10-Streamlit-Web-Apps/env/bin/htmlmin
Week-10-Streamlit-Web-Apps/env/bin/gunicorn
Week-10-Streamlit-Web-Apps/env/bin/futurize
Week-10-Streamlit-Web-Apps/env/bin/fonttools
Week-10-Streamlit-Web-Apps/env/bin/flask
Week-10-Streamlit-Web-Apps/env/bin/find_similar_images.py
Week-10-Streamlit-Web-Apps/env/bin/f2py3.8
Week-10-Streamlit-Web-Apps/env/bin/f2py3
Week-10-Streamlit-Web-Apps/env/bin/f2py
Week-10-Streamlit-Web-Apps/env/bin/dbfs
Week-10-Streamlit-Web-Apps/env/bin/databricks
Week-10-Streamlit-Web-Apps/env/bin/alembic
Week-10-Streamlit-Web-Apps/env/bin/__pycache__/plac_runner.cpython-38.pyc
Week-10-Streamlit-Web-Apps/env/bin/__pycache__/find_similar_images.cpython-38.pyc
Week-10-Streamlit-Web-Apps/env/_skbuild/macosx-10.13-x86_64-3.7/setuptools/lib.macosx-10.13-x86_64-3.7/phik/simcore/CMakeLists.txt
Week-10-Streamlit-Web-Apps/env/_skbuild/macosx-10.13-x86_64-3.7/cmake-install/README.rst
Week-10-Streamlit-Web-Apps/env/_skbuild/macosx-10.13-x86_64-3.7/cmake-install/phik/simcore/CMakeLists.txt
Week-10-Streamlit-Web-Apps/env/_skbuild/macosx-10.13-x86_64-3.7/cmake-install/CMakeLists.txt
Week-10-Streamlit-Web-Apps/env/__pycache__/setup.cpython-38.pyc
Week-10-Streamlit-Web-Apps/.idea/workspace.xml
Week-10-Streamlit-Web-Apps/.idea/Week-10-Streamlit-Web-Apps.iml
Week-10-Streamlit-Web-Apps/.idea/vcs.xml
Week-10-Streamlit-Web-Apps/.idea/modules.xml
Week-10-Streamlit-Web-Apps/.idea/inspectionProfiles/Project_Default.xml
Week-10-Streamlit-Web-Apps/.idea/inspectionProfiles/profiles_settings.xml
